<!DOCTYPE html>
<html>
<head>
	<title>Reverse Search</title>
	<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>
{% block content %} 
<form method="post">
	User Email/Phone:<br>
	<input type="text" name="email">
	<br>Twitter Keywords<br>
	<input type="text" name="keywords" placeholder="backroom,sex,trafficking"><br>
	<input id="getInfo" name="getInfo" type="submit" value="Search"/>
</form>
<hr>
{% endblock %}


{% block results %} 
{% if resultFound %}
<h1>Facebook</h1>
<h2>{{ profileName }}</h2>

{% if profilePicture is not none %}
	<img src="{{ profilePicture }}"/>
	<h1><a href="{{ googleReverseImageSearchRes }}">Google Reverse Image Search</a></h1>
{% endif %}
<hr>

<h1>Whitepages</h1>
<table>
	<tr><th>Full Name</th>
		<th>Phone Number</th>
		<th>Street Address</th>
		<th>Carrier</th>
		<th>Phone Type</th>
	</tr>
	<tr><td>{{whitepateRes[0]}}</td>
		<td>{{whitepateRes[4]}}</td>
		<td>{{whitepateRes[1]}}</td>
		<td>{{whitepateRes[2]}}</td>
		<td>{{whitepateRes[3]}}</td>
	</tr>
</table>
<hr>

<h1>Database Ad Matches</h1>
<table>
    <tr><th>URL</th>
        <th>Ad Title</th>
        <th>Ad Content</th>
        <th>Location</th>
    </tr>
    {%for match in adMatches %}
    <tr><td>{{match[0]}}</td>
        <td>{{match[1]}}</td>
        <td>{{match[2]}}</td>
        <td>{{match[3]}}</td>
    </tr>
    {% endfor %}
</table>
<hr>

<h1>Database Forum Matches</h1>
<table>
    <tr><th>URL</th>
        <th>Content</th>
        <th>Forum Username</th>
    </tr>
    {%for fmatch in forumMatches %}
    <tr><td>{{fmatch[0]}}</td>
        <td>{{fmatch[1]}}</td>
        <td>{{fmatch[2]}}</td>
    </tr>
    {% endfor %}
</table>
<hr>



<h1>OpenCNAM</h1>
<table>
	<tr><th>Full Name</th>
		<th>Phone Number</th>
	</tr>
	<tr><td>{{openCNAMAPIRes["full_name"]}}</td>
		<td>{{openCNAMAPIRes["phone_number"]}}</td>
	</tr>
</table>
<hr>

<h1>Caller ID Service</h1>
{{ calleridserviceRes }}

<hr>
<br>
<br>
<br>
<br>
<br>
{{ twitterRes }}
{% endif %}
{% endblock %}

</body>
</html>
