<!DOCTYPE html>
<html>
<head>
	<title>Reverse Search</title>
	<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>
{% block content %} 
<form method="post">
	User Email/Phone:<br>
	<input type="email" name="email">
	<br>Twitter Keywords<br>
	<input type="text" name="keywords" placeholder="backroom,sex,trafficking"><br>
	<input id="getInfo" name="getInfo" type="submit" value="Search"/>
</form>
{% endblock %}


{% block results %} 
{% if resultFound %}
<h2>{{ profileName }}</h2>

<img src="{{ profilePicture }}"/>

<table>
	<tr><th>Full Name</th>
		<th>Street Address</th>
		<th>Carrier</th>
		<th>Phone Type</th>
	</tr>
	<tr><td>{{whitepateRes[0]}}</td>
		<td>{{whitepateRes[1]}}</td>
		<td>{{whitepateRes[2]}}</td>
		<td>{{whitepateRes[3]}}</td>
	</tr>
</table>

{{ twitterRes }}
{% endif %}
{% endblock %}

</body>
</html>